html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-body {
    padding: 20px;
    overflow-y: scroll;
    height: 400px;
}

.message {
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
}

.chat {
    margin-left: 10px;
}

.card-footer {
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

input.form-control {
    border-radius: 0;
}

button.btn-primary {
    border-radius: 0;
}
